<div class="row">
  <div class="large-6 large-offset-3 columns">
    <%= form_for @message do |f| %>
    <div class="field", id="recipient">
      <%= f.label :recipient %>
      <%= f.collection_select(:recipient_id, User.all, :id, :username) %>
    </div>
    <div class="field">
      <div class = invisible>
        <%= f.label :body %>
      </div>
      <%= f.text_area :body %>
    </div>
    <div class="field">
      <%= f.label :public_key_m %>
      <%= f.text_field :public_key_m %>
    </div>
    <div class="field">
      <%= f.label :public_key_k %>
      <%= f.text_field :public_key_k %>
    </div>
    <div>
      <%= f.submit "Send" %>
    </div>
    <% end %>
  </div>
</div>
