<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>Secret Message Creator</h1>
    </div>
  </div>
</div>
<% if @message.errors.any? %>
<ul>
  <% @message.errors.full_messages.each do |msg| %>
  <div class="row">
    <div class="large-6 large-offset-3 columns">
      <li><%= msg %></li>
    </div>
  </div>
  <% end %>
</ul>
<% end %>
<div class="row">
  <div class="large-6 large-offset-3 columns">
    <%= form_for @message do |f| %>
    <div class="field", id="recipient">
      <%= f.label :recipient %>
      <%= f.collection_select(:recipient_id, @recipient_options, :id, :username) %>
    </div>
    <div class="field">
      <div class = invisible>
        <%= f.label :body %>
      </div>
      <%= f.text_area :body, id: "message_text", placeholder: "Enter your secret message (must be at least 100 characters)" %>
      <p id="characters"> </p>
    </div>
    <div class="field">
      <%= f.label :public_key_m %>
      <%= f.text_field :public_key_m, placeholder: "Find this on your friend's profile page" %>
    </div>
    <div class="field">
      <%= f.label :public_key_k %>
      <%= f.text_field :public_key_k, placeholder: "Find this on you friend's profile page" %>
    </div>
    <div>
      <p>Please do not include confidential information.
         Encryption is for educational purposes, and is not secure.</p>
    </div>
    <div>
      <%= f.submit "Send", class: "small button",
          onclick: "return confirm('This message contains no confidential info.' )" %>
    </div>
    <% end %>
  </div>
</div>
