<div class="row">
  <div class="large-6 large-offset-3 columns">
    <h2>Forgot your password?</h2>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="row">
    <div class="large-6 large-offset-3 columns">
      <%= devise_error_messages! %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 large-offset-3 columns">
      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-6 large-offset-3 columns">
      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "small button" %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="large-6 large-offset-3 columns">
    <%= render "devise/shared/links" %>
  </div>
</div>
