<div class="row">
</div>
<div class="row">
  <div class="large-6 large-offset-3 columns">
    <h2>Log in</h2>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="large-6 large-offset-3 columns">
      <div class="field">
        <%= f.label :login %><br />
        <%= f.text_field :login, autofocus: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-6 large-offset-3 columns">
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
  <div class="row">
    <div class="large-6 large-offset-3 columns">
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    </div>
  </div>
  <% end -%>

  <div class="row">
    <div class="large-6 large-offset-3 columns">
      <div class="actions">
        <%= f.submit "Log in", class: "small button" %>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="large-6 large-offset-3 columns">
    <%= render "devise/shared/links" %>
  </div>
</div>
