<% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
    <div class="row">
      <div class="large-6 large-offset-3 columns">
        <li><%= msg %></li>
      </div>
    </div>
    <% end %>
  </ul>
<% end %>

<div class="row">
  <div class="large-6 large-offset-3 columns">
    <%= form_for @post do |f| %>
      <div class="field">
        <div class = invisible>
          <%= f.label :body %>
        </div>
        <%= f.text_area :body, placeholder: "Say something" %>
      </div>
      <div>
        <%= f.submit "Submit", class: "small button"%>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
</div>
<% if @messages %>
<% @messages.each do |message| %>
<div class="row">
  <div class="large-6 large-offset-3 columns">
    <div class="row">
      <div class="post_header clearfix">
        <div class="username">
          <%= link_to(message.sender.username, user_path(message.sender)) %>
        </div>
        <div class="date"><%= format_date(message.created_at.to_s) %></div>
      </div>
    </div>
    <div class="row">
      <div class="text_body">
        @<%= message.recipient.username %>
        <%= message.body %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
<% if @posts %>
  <% @posts.each do |post| %>
    <div class="row">
      <div class="large-6 large-offset-3 columns">
        <div class="row">
          <div class="post_header clearfix">
            <div class="username"><%= post.user.username %></div>
            <div class="date"><%= format_date(post.created_at.to_s) %></div>
          </div>
        </div>
        <div class="row">
          <div class="text_body">
            <%= post.body %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
