<% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
    <div class="row">
      <div class="large-6 large-offset-3 columns">
        <li><%= msg %></li>
      </div>
    </div>
    <% end %>
  </ul>
<% end %>

<div class="row">
  <div class="large-6 large-offset-3 columns">
    <%= form_for @post do |f| %>
      <div class="field">
        <div class = invisible>
          <%= f.label :body %>
        </div>
        <%= f.text_area :body %>
      </div>
      <div>
        <%= f.submit "Submit" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="large-6 large-offset-3 columns">
    <% if @posts %>
      <% @posts.each do |post| %>
        <div class="row">
          <%= post.user.username %>
          <%= format_date(post.created_at.to_s) %>
        </div>
        <div class="row">
          <%= post.body %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
