<div class="row">
  <div class="large-6 large-offset-3 columns">
    <%= form_for @post do |f| %>
      <div class="field">
        <div class = invisible>
          <%= f.label :body %>
        </div>
        <%= f.text_field :body %>
      </div>
      <div>
        <%= f.submit "Submit" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="large-6 large-offset-3 columns">
    <% @posts.each do |post| %>
      <div class="row">
        <%= post.user.username %>
        <%= post.created_at %>
      </div>
      <div class="row">
        <%= post.body %>
      </div>
    <% end %>
  </div>
</div>
