<!DOCTYPE html>
<html>
<head>
  <title>Psst</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Psst!</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <% if signed_in? %>
        <ul class="left">
          <li><%= link_to "Feed", posts_path %></li>
          <li><%= link_to "Friends", user_friendships_path(current_user) %></li>
          <li><%= link_to "Secret Messages", new_message_path %></li>
          <li><%= link_to "Mailbox", messages_path %></li>
        </ul>
      <% end %>
      <ul class="right">
        <%- if current_user -%>
          <li><%= link_to current_user.username, user_path(current_user) %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_tag do %>
    $(function(){
      $(document).foundation();
    });
  <% end %>
  <%= yield :extra_footer %>
  <script src="/javascripts/vendor/jquery.js" type="text/javascript"></script>
</body>
</html>
